@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:400,700');

menu, ol, ul {
    padding: 0px;
}

[data-visible="false"]{
    transform: translate3d(0,0,0,0);
    transition: 2.75s;
    transform-origin: top;
    transform:scale(0.25);
    opacity: 0;
}

[data-visible="true"]{
    transform: translate3d(0,0,0,0);
    transition: 2.75s;
    opacity: 1;
}


.wrapper {
    margin: 0 auto;
    position: relative;
    max-width: 1440px;
    height: 100vh;
    object-fit: cover !important;
}

.slider-tab {
    position: absolute;
    z-index: 2;
    top:100px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 5px 0;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #fff;
}

.btn-tab{
    padding: 25px;
    border: none;
    outline: none;
    &:focus {
        background-color: #F8F9FA;
    }
}

.slider-view{
    margin: 0px;
    padding: 0px;
}

.slider-view-item{
    position: absolute;
    z-index: 1;
    display: flex;
    & img{
        display: block;
        max-width: 705px;
        max-height: 860px;
        width:50%;
    }
    & div{
        display: block;
        box-sizing: border-box;
        max-height: 760px;
        margin: 50px 0;
        padding: 200px 100px;
        width:50%;
        background: #f8f9fa;

        & h2{
            margin-top: 0;
            font-family: 'Playfair Display', serif;
            font-size: 34px;
        }
        & p{
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            line-height: 30px;
            text-overflow: ellipsis;
        }
        & button{
            border:none;
            background: #f8f9fa;
            padding: 0;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
}

@media screen and (max-width: 1200px){
    .slider-view-item{
        flex-direction: column;
        & img{
            object-fit: cover;
            max-width: 100%;
            max-height: 380px;
            width: 100%;
        }

        h2{
            text-align: center;
        }

        & div{
            width: 100%;
            padding: 100px 50px;
        }
    }
}

@media (max-width: 767px) {
    
    .slider-tab{
        padding: 0px;
        top:50px;
        max-width: 100%;
    }

    .btn-tab{
        background: none;
        padding: 10px;
    }

    .slider-view-item{
        flex-direction: column;
        & img{
            object-fit: cover;
            max-width: 100%;
            max-height: 280px;
            width: 100%;
        }

        & div{
            width: 100%;
            padding: 50px 50px;
        }
    }
}